<div class="container p-5 ">
    <button style="margin-left: 80%;" type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
      AGREGAR
    </button>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Tipo de oferta</th>
              <th scope="col">Descuento</th>
              <th scope="col">Fecha de inicio</th>
              <th scope="col">Fecha de fin</th>
              <th scope="col">Producto</th>
              <th scope="col">Opciones</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let oferta of listOfertas">
              <th scope="row">{{oferta.tipo}}</th>
              <th >{{oferta.descuento}}</th>
              <th >{{oferta.fecha_inicio}}</th>
              <th >{{oferta.fecha_fin}}</th>
              <th >{{oferta.producto}}</th>
              <th >
                <button class="btn btn-warning btn-sm m-1">Editar</button>
                <button class="btn btn-danger btn-sm m-1">Eliminar</button>
              </th>
             
            </tr>
          </tbody>
        </table>
  </div>
  <div class="modal modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Oferta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form [formGroup]="fmrOferta" >
              <input
              class="form-control m-2"
              type="text"
              placeholder="Tipo de oferta "
              formControlName="tipo"
              >
              <input
              class="form-control m-2"
              type="text"
              placeholder="Cuanto sera el descuento"
              formControlName="descuento"
              >
              <input
              class="form-control m-2"
              type="date"
              placeholder="Fecha de inicio de la oferta "
              formControlName="fechaInicio"
              >
              <input
              class="form-control m-2"
              type="date"
              placeholder="Fecha del fin de la oferta"
              formControlName="fechaFin"
              >
              <select formControlName="producto" class="form-select m-2" aria-label="Default select example">
                <option selected>Seleciona una opción</option>
                <option *ngFor="let producto of listProductos" [value]="producto.id">{{producto.nombre_producto}}</option>
              </select>
              <button type="button" class="btn btn-primary" (click)="guardar()" >Guardar</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
