<div class="container p-5 ">
    <button style="margin-left: 80%;" type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
      AGREGAR
    </button>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Nombre</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoria of listCategorias">
              <th scope="row">{{categoria.categoria}}</th>
              <th scope="row">{{categoria.local}}</th>
             
            </tr>
          </tbody>
        </table>
  </div>
  <div class="modal modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Categoria</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form [formGroup]="fmrCategoria" >
              <input
              class="form-control m-2"
              type="text"
              placeholder="Nombre de la categoria"
              formControlName="nombre"
              >
              <button type="button" class="btn btn-primary" (click)="guardar()" >Guardar</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>