<div class="container p-5 ">
  <button style="margin-left: 80%;" type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    AGREGAR
  </button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Color</th>
            <th scope="col">Marca</th>
            <th scope="col">Genero</th>
            <th scope="col">Disponibles</th>
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of listProductos">
            <th scope="row">{{producto.nombre}}</th>
            <td>{{producto.precio}}</td>
            <td>{{producto.color}}</td>
            <td>{{producto.marca}}</td>
            <td>{{producto.genero}}</td>
            <td>{{producto.disponibles}}</td>
            <td>
              <img style="height: 100px; width: 100px;" src="{{producto.fotos[0]}}" alt="">
            </td>
          </tr>
        </tbody>
      </table>
</div>
<div class="modal modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form [formGroup]="frmProducto">
            <input type="text"
            class="form-control m-2"
            type="text"
            placeholder="Nombre del producto"
            formControlName="nombre"
            >

            <input type="text"
            class="form-control m-2"
            type="number"
            placeholder="precio del producto"
            formControlName="precio"
            >

            <input type="text"
            class="form-control m-2"
            type="text"
            placeholder="color del producto"
            formControlName="color"
            >
            <select class="form-select m-2" aria-label="Default select example"  formControlName="genero">
              <option selected>Seleciona una opción</option>
              <option value="F">Femeninos</option>
              <option value="M">Masculinos</option>
              <option value="U">Unisex</option>
            </select>

            <input type="text"
            class="form-control m-2"
            type="text"
            placeholder="Marca del producto"
            formControlName="marca"
            >

            <select class="form-select m-2" aria-label="Default select example"  formControlName="categoria">
              <option selected>Seleciona una opción</option>
              <option *ngFor="let categoria of listCategoria" [value]="categoria.id">{{categoria.categoria}}</option>
            </select>

            <select class="form-select m-2" aria-label="Default select example"  formControlName="talla">
              <option selected>Seleciona una talla</option>
              <option *ngFor="let talla of listTalla" [value]="talla.id">{{talla.talla}}</option>
            </select>

            <input type="text"
            class="form-control m-2"
            type="number"
            placeholder="Cantidad disponible del producto"
            formControlName="disponibles"
            >
            <button type="button" class="btn btn-primary" (click)="guardar()">Guardar Cambios</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
